<div class="col-md-12">
  <div class="panel">
    <ul id="myTab1" class="nav nav-tabs ">
      <li class="active">
        <a href="#category" data-toggle="tab">LIST OF CATEGORY</a>
      </li>
      <li class=""><a href="#sport" data-toggle="tab">ALL HABITS</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="category">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let element of category"
                (click)="selectRow(element)"
                [class.active]="element.id"
              >
                <td class="lead">{{ element.id }}</td>
                <td class="lead">{{ element.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="sport">
        <form>
          <div class="form-group form-inline">
            <h4>Search: <input class="form-control ml-2" type="text" /></h4>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Habits</th>
                <th scope="col">Description</th>
                <th scope="col">Start date</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let element of dataSourceHabits"
                [class.active]="element.id"
              >
                <td class="lead">{{ element.name }}</td>
                <td class="lead">{{ element.description }}</td>
                <td class="lead">
                  {{ element.startDate | date: "shortDate" }}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn"
                    (click)="removeHabit(element)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2">
          <div class="pagination_orientation">
            <ngb-pagination
              [collectionSize]="collectionSizePagination"
              [(page)]="pagePagination"
              [pageSize]="pageSizePagination"
            ></ngb-pagination>
          </div>
          <div class="selector_orientation">
            <select
              class="custom-select"
              style="width: auto"
              [(ngModel)]="pageSizePagination"
            >
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="15">15 items per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

