<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="li-a">
          <a class="nav navbar-brand" href="/habits"
            ><span class="glyphicon glyphicon-home"></span> HABITS</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="li-a">
          <a class="nav navbar-brand" href="/category"
            ><span class="glyphicon glyphicon-th-list"></span> CATEGORY</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="li-a">
          <a class="nav navbar-brand" href="/progress"
            ><span class="glyphicon glyphicon-stats"></span> RAPORTS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
